h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 455px;
  width: 455px;
}
head{
  background-color: black;
  color: white;
}

body {
  background-color: black;
  color: white;
}

p {
  margin: 30px;
  padding: 15px;
  border-style: solid;
  border: 5px solid white;
  border-radius: 5px;
}

.box-container{
	background-color: DodgerBlue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /* The "flex-wrap: wrap;" specifies that the flex items will wrap if necessary */
	justify-content: space-around; /* The space-around value displays the flex items with space before, between, and after the lines */
}

.box-container > div{
	background-color: #f1f1f1;
	max-width: 100px;
	margin: 10px;
  	padding: 20px;
}
