html {
   background: url(https://lh3.googleusercontent.com/proxy/ea7nvtcacu2oM9M57M5A5qQTb9f1bVEcAmb34X6CG2X_juB91mh0Cs0tIcP2G75t8Ld0dEEDIvg1Gwm8savFogkJ1CYJ4toT62tRO-uoXEb6rTpogX8gFsqO6zlobQDAZIkRP4JLVLJ-MDs2N6XainrPhjCLOREI2fO8jn8) no-repeat center fixed;
   background-size: cover;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 455px;
  width: 455px;
}
head{
  background-color: black;
  color: white;
}

body {
  color: white;
}

p {
  margin: 30px;
  padding: 15px;
  border-style: solid;
  border: 5px solid white;
  border-radius: 5px;
}
