html {
   background: url(https://wallpaperset.com/w/full/0/b/7/34016.jpg) no-repeat center fixed;
   background-size: cover;
   background-color: black;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 455px;
  width: 455px;
}
head{

  color: white;
}

body {
  color: white;
}

p {
  margin: 30px;
  padding: 15px;
  border-style: solid;
  border: 5px solid white;
  border-radius: 5px;
}
