
body {
  font-size: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0%;

}

.grid-container {
  display: grid;
  grid-gap: 1px;
  padding: 10px;
  width: 100%;
  margin: auto;
  grid-template-columns: 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1%;
  grid-template-rows: 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1%;
  text-align: center;
  padding: 0;
  background-image: linear-gradient(black, gray, white, white, white);
}


.eevee {
  position: absolute;
  top: 260px;
  left: 880px;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.background1 {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position:
}

.background1 {
  position: relative;
  top: 0;
  left: 0;
  }

.background {
  grid-column: 25 / 72;
  grid-row: 1 / 60;
  margin: 0;
}

.name {
  grid-column: 1 / 99;
  grid-row: 60 / 70;
  font-size: 40px;
  display: grid;
  align-content: center;
  font-style: "Helvetica Neue";
  font-size: 40;
}

.line {
  grid-column: 27 / 70;
  grid-row: 75;
  background-color: gray;
  height: 1px;
}

.inlagg {
  grid-column: 27 / 30;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
}

.om {
  grid-column: 30 / 34;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
}

.vanner {
  grid-column: 34 / 37;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
}

.foton {
  grid-column: 38 / 41;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
}

.fler {
  grid-column: 42 / 45;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
}

.empty {
  grid-column: 44 / 55;
  grid-row: 78 / 84;
}

.redigeraprofil {
  grid-column: 53 / 61;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
  background-color: lightgray;
  border-radius: 5%;
}

.eye {
  grid-column: 61 / 64;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
  background-color: lightgray;
  border-radius: 5%;
}

.glas {
  grid-column: 64 / 67;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
  background-color: lightgray;
  border-radius: 5%;
}

.dots {
  grid-column: 67 / 70;
  grid-row: 78 / 84;
  display: grid;
  align-content: center;
  background-color: lightgray;
  border-radius: 5%;
}

.body {
  font-size: 15px;
}
