
body {
  font-size: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0%;

}

.grid-container {
  display: grid;
  grid-gap: 1px;
  padding: 10px;
  width: 100%;
  margin: auto;
  grid-template-columns: 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% 1% ;
  grid-template-rows: 340px 100px 60px;
  text-align: center;
  padding: 0;
  background-image: linear-gradient(black, gray, white, white, white);
}


.eevee {
  position: absolute;
  top: 170px;
  left: 890px;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.background1 {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position:
}

  .background1 {
    position: relative;
    top: 0;
    left: 0;
  }

.background {
  grid-column: 25 / 72;
  grid-row: 1;
}

.name {
  grid-column: 1 / 100;
  grid-row: 2;
  font-size: 40px;
  display: grid;
  align-content: center;
  font-style: Helvetica;
  font-size: 40;
}

.inlagg {
  grid-column: 27 / 30;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.om {
  grid-column: 30 / 34;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.vanner {
  grid-column: 34 / 37;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.foton {
  grid-column: 38 / 41;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.fler {
  grid-column: 42 / 45;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.empty {
  grid-column: 44 / 55;
  grid-row: 3;
}

.redigeraprofil {
  grid-column: 55 / 63;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.eye {
  grid-column: 63 / 65;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.glas {
  grid-column: 66 / 68;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.dots {
  grid-column: 69 / 71;
  grid-row: 3;
  display: grid;
  align-content: center;
}

.body {

  font-size: 15px;
}
