html {
   background: url(../Pictures/img_background.jpg) no-repeat center fixed; /* This makes the background into whatever is in the url, no-repeat means that there won't be multiple pictures to keep the quality, and fixed means that its stuck and will not move. */
   background-size: cover; /* This one makes it so the background picture covers the whole page. */
}

h1 {
  text-align: center; /* This one makes it so the text is perfectly in the middle */
  width: 100%; /* Devides the width of the box */
  margin-top: 0; /* Makes the margin dissapear */
  margin-bottom: 10px; /* Makes the bottom margin 10 pixels big */
  padding-top: 0px; /* Makes the padding dissapear */
  font-family: cursive; /* Makes the text within h1 cursive */
  font-size: 50px; /* Makes the text 50 pixels big */
  background-color: gray; /* Overrides the background picture and makes the background gray */
}

head {
  color: white; /* Makes the text white */
  font-family: "Helvetica", Helvetica; /* Makes the text the font Helvetica */
}

body {
  color: white; /* Makes the text white */
  font-family: "Helvetica", Helvetica; /* Makes the text the font Helvetica */
  padding: 0; /* Deletes the padding */
  margin: 0; /* Deletes the margin */
}

.paragraph {
  margin: 2%;
  padding: 0.5% 10px 0.5% 10px;
  border-style: solid; /* Makes the border visible */
  border: 1% solid white; /* Makes the border 5 pixels thick and the color white */
  border-radius: 5px; /* Makes it so the border has rounded corners */
  border-left-color:rgba(0,0,0,0.0);
  border-right-color:rgba(0,0,0,0.0);
  text-align: center;
}

.unordered_list {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-left-color:rgba(0,0,0,0.0);
  border-right-color:rgba(0,0,0,0.0);
  border-radius: 5px;
  padding: 0.5% 10px 0.5% 10px;
  margin: 2%;
  list-style-type: none;
}

.main_img {
  height: 40%; /* Makes the image 40% the height of the page */
  width: 40%; /* Makes the image 40% the width of the page */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.pictures {
  position:absolute;
  position: center;
  top:0;
  left:0;
  width:100%; /* Makes the image fully take up the space within the box that it's placed in */
  height:100%; /* Makes the image fully take up the space within the box that it's placed in */
  object-fit:cover;
}

.bottom {
  text-align: center; /* Puts the text in the center */
  font-family: cursive; /* Makes the font cursive */
  background-color: gray; /* Makes the background color gray and overrides the background picture */
  margin: 0; /* Deletes the margin */
  border: 0; /* Deletes the border */
  padding: 0; /* Deletes the padding */
}

.read_more {
  text-align: center; /* Puts the text in the center */
  background-color: gray; /* Overrides the bacgkround pixture and makes the color gray */
  margin: 0; /* Deletes the margin */
  border: 0; /* Deletes the border */
  padding: 0; /* Deletes the padding */
}

.box {
 position:relative;
 display: inline-block;
 width: 22%; /* Makes the width 35% */
 margin: 0%; /* Makes the margin 5% */
 padding: 0; /* Deletes the padding */
 margin-left: 2.2%;
 position: center;
 text-align: center /* Puts the text in the center */
 overflow:hidden;
}

.box:after{
  content: "";
  display: block;
  padding-bottom:100%; /* Makes the bottom padding 100% */
}

.song_name {
  display: none;
  position: absolute;
  bottom:0;
  width:100%; /* Makes the width the whole box */
  font-size:30px; /* Makes the font size 30 pixels */
  background-color:rgba(0,0,0,7); /* decides the background color of the text in the box */
  color: white; /* Makes the text white */
  text-align:center; /* Puts the text in the center */
  padding:5px 0 5px 0; /* Decides the padding of top, right, bottom and left */
}

.box:hover .song_name {
  display:block;
}
